@charset "UTF-8";
body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, p, input, select, textarea, td {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑" ，Arial; }

body, html {
  height: 100%; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

a {
  text-decoration: none; }

.swiper-container {
  width: 100%;
  height: 100%; }
  .swiper-container .swiper-wrapper .swiper1 {
    position: relative; }
    .swiper-container .swiper-wrapper .swiper1 .swiper1-cont {
      width: 335px;
      height: 563px;
      position: absolute;
      top: 88px;
      left: 20px; }
      .swiper-container .swiper-wrapper .swiper1 .swiper1-cont .cont-img img {
        width: 100%;
        height: 100%; }
      .swiper-container .swiper-wrapper .swiper1 .swiper1-cont .swiper1-pink {
        width: 335px;
        height: 200px;
        position: absolute;
        top: 105px; }
        .swiper-container .swiper-wrapper .swiper1 .swiper1-cont .swiper1-pink img {
          width: 100%;
          height: 100%; }
      .swiper-container .swiper-wrapper .swiper1 .swiper1-cont .swiper1-text {
        width: 308px;
        height: 70px;
        position: absolute;
        top: 135px;
        left: 20px; }
        .swiper-container .swiper-wrapper .swiper1 .swiper1-cont .swiper1-text img {
          width: 100%;
          height: 100%; }
      .swiper-container .swiper-wrapper .swiper1 .swiper1-cont .swiper1-line {
        width: 155px;
        height: 33px;
        position: absolute;
        top: 233px;
        left: 50px;
        transform: skewX(30deg); }
        .swiper-container .swiper-wrapper .swiper1 .swiper1-cont .swiper1-line img {
          width: 100%;
          height: 100%; }
      .swiper-container .swiper-wrapper .swiper1 .swiper1-cont .swiper1-triangle {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 495px;
        left: 153px;
        z-index: 10; }
        .swiper-container .swiper-wrapper .swiper1 .swiper1-cont .swiper1-triangle img {
          width: 100%;
          height: 100%;
          animation: mymove 2s infinite; }
@keyframes mymove {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
    .swiper-container .swiper-wrapper .swiper1 .swiper1-music {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 40px;
      left: 320px;
      z-index: 10;
      border-radius: 20px;
      background: url(../../images/str05.png) no-repeat;
      background-size: 100% 100%;
      animation: mysun  1s infinite; }
@keyframes mysun {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(324deg); }
  100% {
    transform: rotate(360deg); } }
  .swiper-container .swiper-wrapper .swiper2 {
    position: relative;
    background: #ffe100; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-img {
      position: absolute;
      top: 20px;
      z-index: 5; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-img img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-title {
      width: 200px;
      height: 88px;
      position: absolute;
      top: 115px;
      left: 80px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-title img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .cont2-img {
      width: 250px;
      height: 260px;
      position: absolute;
      top: 50px;
      left: 60px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .cont2-img img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-text {
      width: 105px;
      height: 40px;
      position: absolute;
      top: 125px;
      left: 150px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-text img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-green01 {
      width: 20px;
      height: 30px;
      position: absolute;
      top: 300px;
      left: 50px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-green01 img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-green02 {
      width: 20px;
      height: 30px;
      position: absolute;
      top: 360px;
      left: 50px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-green02 img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-green03 {
      width: 20px;
      height: 30px;
      position: absolute;
      top: 410px;
      left: 50px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-green03 img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-green04 {
      width: 20px;
      height: 30px;
      position: absolute;
      top: 470px;
      left: 50px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-green04 img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-purpul01 {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 290px;
      left: 105px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-purpul01 img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-box01 {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 295px;
      left: 155px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-box01 a {
        color: #f1c00a;
        font-size: 15px; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-purpul02 {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 350px;
      left: 105px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-purpul02 img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-box02 {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 355px;
      left: 155px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-box02 a {
        color: #f1c00a;
        font-size: 15px; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-purpul03 {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 410px;
      left: 105px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-purpul03 img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-box03 {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 415px;
      left: 155px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-box03 a {
        color: #f1c00a;
        font-size: 15px; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-purpul04 {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 470px;
      left: 105px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-purpul04 img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-box04 {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 475px;
      left: 155px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-box04 a {
        color: #f1c00a;
        font-size: 15px; }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-triangle {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 590px;
      left: 170px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper2 .swiper2-triangle img {
        width: 100%;
        height: 100%;
        animation: mymove 2s infinite; }
@keyframes mymove {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
    .swiper-container .swiper-wrapper .swiper2 .swiper2-music {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 40px;
      left: 320px;
      z-index: 10;
      border-radius: 20px;
      background: url(../../images/str05.png) no-repeat;
      background-size: 100% 100%;
      animation: mysun  1s infinite; }
@keyframes mysun {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(324deg); }
  100% {
    transform: rotate(360deg); } }
  .swiper-container .swiper-wrapper .swiper3 {
    position: relative;
    background: #ffe100; }
    .swiper-container .swiper-wrapper .swiper3 .swiper3-img {
      position: absolute;
      top: 20px;
      z-index: 5; }
      .swiper-container .swiper-wrapper .swiper3 .swiper3-img img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper3 .swiper3-sofa {
      width: 170px;
      height: 95px;
      position: absolute;
      top: 270px;
      left: 160px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper3 .swiper3-sofa img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper3 .swiper3-text {
      width: 198px;
      height: 85px;
      position: absolute;
      top: 210px;
      left: 25px;
      z-index: 10;
      color: white; }
      .swiper-container .swiper-wrapper .swiper3 .swiper3-text h3 {
        font-size: 18px;
        font-weight: 200; }
      .swiper-container .swiper-wrapper .swiper3 .swiper3-text p {
        font-size: 12px; }
    .swiper-container .swiper-wrapper .swiper3 .swiper3-pic {
      width: 198px;
      height: 85px;
      position: absolute;
      top: 270px;
      left: 25px;
      z-index: 10;
      color: white; }
      .swiper-container .swiper-wrapper .swiper3 .swiper3-pic h3 {
        font-size: 16px;
        font-weight: 200;
        color: #a52000; }
      .swiper-container .swiper-wrapper .swiper3 .swiper3-pic p {
        font-size: 12px; }
    .swiper-container .swiper-wrapper .swiper3 .swiper3-line {
      width: 100px;
      height: 0.5px;
      position: absolute;
      top: 262px;
      left: 21px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper3 .swiper3-line img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper3 .swiper3-purpul {
      width: 95px;
      height: 25px;
      position: absolute;
      top: 320px;
      left: 38px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper3 .swiper3-purpul img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper3 .swiper3-link {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 320px;
      left: 60px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper3 .swiper3-link a {
        font-size: 12px;
        color: white; }
    .swiper-container .swiper-wrapper .swiper3 .cont3-img {
      width: 245px;
      height: 420px;
      position: absolute;
      top: 145px;
      left: 100px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper3 .cont3-img img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper3 .swiper3-triangle {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 590px;
      left: 170px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper3 .swiper3-triangle img {
        width: 100%;
        height: 100%;
        animation: mymove 2s infinite; }
@keyframes mymove {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
    .swiper-container .swiper-wrapper .swiper3 .swiper3-music {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 40px;
      left: 320px;
      z-index: 10;
      border-radius: 20px;
      background: url(../../images/str05.png) no-repeat;
      background-size: 100% 100%;
      animation: mysun  1s infinite; }
@keyframes mysun {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(324deg); }
  100% {
    transform: rotate(360deg); } }
  .swiper-container .swiper-wrapper .swiper4 {
    position: relative;
    background: #ffe100; }
    .swiper-container .swiper-wrapper .swiper4 .swiper4-img {
      position: absolute;
      top: 20px;
      z-index: 5; }
      .swiper-container .swiper-wrapper .swiper4 .swiper4-img img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper4 .swiper4-chest {
      width: 140px;
      height: 140px;
      position: absolute;
      top: 190px;
      left: 42px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper4 .swiper4-chest img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper4 .swiper4-text {
      width: 130px;
      height: 85px;
      position: absolute;
      top: 290px;
      left: 190px;
      z-index: 10;
      color: white; }
      .swiper-container .swiper-wrapper .swiper4 .swiper4-text h3 {
        font-size: 16px;
        font-weight: 200; }
      .swiper-container .swiper-wrapper .swiper4 .swiper4-text p {
        font-size: 11px; }
    .swiper-container .swiper-wrapper .swiper4 .swiper4-pic {
      width: 195px;
      height: 85px;
      position: absolute;
      top: 387px;
      left: 190px;
      z-index: 10;
      color: white; }
      .swiper-container .swiper-wrapper .swiper4 .swiper4-pic h3 {
        font-size: 16px;
        font-weight: 200;
        color: #a52000; }
      .swiper-container .swiper-wrapper .swiper4 .swiper4-pic p {
        font-size: 12px; }
    .swiper-container .swiper-wrapper .swiper4 .swiper4-line {
      width: 100px;
      height: 0.5px;
      position: absolute;
      top: 380px;
      left: 186px;
      z-index: 11; }
      .swiper-container .swiper-wrapper .swiper4 .swiper4-line img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper4 .swiper4-link {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 430px;
      left: 216px;
      z-index: 11; }
      .swiper-container .swiper-wrapper .swiper4 .swiper4-link a {
        font-size: 12px;
        color: white; }
    .swiper-container .swiper-wrapper .swiper4 .swiper4-purpul {
      width: 95px;
      height: 25px;
      position: absolute;
      top: 430px;
      left: 195px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper4 .swiper4-purpul img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper4 .cont4-img {
      width: 255px;
      height: 422px;
      position: absolute;
      top: 100px;
      left: 13px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper4 .cont4-img img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper4 .swiper4-triangle {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 590px;
      left: 170px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper4 .swiper4-triangle img {
        width: 100%;
        height: 100%;
        animation: mymove 2s infinite; }
@keyframes mymove {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
    .swiper-container .swiper-wrapper .swiper4 .swiper4-music {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 40px;
      left: 320px;
      z-index: 10;
      border-radius: 20px;
      background: url(../../images/str05.png) no-repeat;
      background-size: 100% 100%;
      animation: mysun  1s infinite; }
@keyframes mysun {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(324deg); }
  100% {
    transform: rotate(360deg); } }
  .swiper-container .swiper-wrapper .swiper5 {
    position: relative;
    background: #ffe100; }
    .swiper-container .swiper-wrapper .swiper5 .swiper5-img {
      position: absolute;
      top: 20px;
      z-index: 5; }
      .swiper-container .swiper-wrapper .swiper5 .swiper5-img img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper5 .swiper5-chair {
      width: 100px;
      height: 200px;
      position: absolute;
      top: 97px;
      left: 132px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper5 .swiper5-chair img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper5 .cont5-img {
      width: 280px;
      height: 425px;
      position: absolute;
      top: 32px;
      left: 23px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper5 .cont5-img img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper5 .swiper5-text {
      width: 211px;
      height: 85px;
      position: absolute;
      top: 380px;
      left: 110px;
      z-index: 10;
      color: white; }
      .swiper-container .swiper-wrapper .swiper5 .swiper5-text h3 {
        font-size: 16px;
        font-weight: 200; }
      .swiper-container .swiper-wrapper .swiper5 .swiper5-text p {
        font-size: 10px; }
    .swiper-container .swiper-wrapper .swiper5 .swiper5-pic {
      width: 195px;
      height: 85px;
      position: absolute;
      top: 460px;
      left: 112px;
      z-index: 10;
      color: white; }
      .swiper-container .swiper-wrapper .swiper5 .swiper5-pic h3 {
        font-size: 16px;
        font-weight: 200;
        color: #a52000; }
      .swiper-container .swiper-wrapper .swiper5 .swiper5-pic p {
        font-size: 12px; }
    .swiper-container .swiper-wrapper .swiper5 .swiper5-purpul {
      width: 95px;
      height: 25px;
      position: absolute;
      top: 512px;
      left: 142px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper5 .swiper5-purpul img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper5 .swiper5-link {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 512px;
      left: 165px;
      z-index: 11; }
      .swiper-container .swiper-wrapper .swiper5 .swiper5-link a {
        font-size: 12px;
        color: white; }
    .swiper-container .swiper-wrapper .swiper5 .swiper5-triangle {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 590px;
      left: 170px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper5 .swiper5-triangle img {
        width: 100%;
        height: 100%;
        animation: mymove 2s infinite; }
@keyframes mymove {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
    .swiper-container .swiper-wrapper .swiper5 .swiper5-music {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 40px;
      left: 320px;
      z-index: 10;
      border-radius: 20px;
      background: url(../../images/str05.png) no-repeat;
      background-size: 100% 100%;
      animation: mysun  1s infinite; }
@keyframes mysun {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(324deg); }
  100% {
    transform: rotate(360deg); } }
  .swiper-container .swiper-wrapper .swiper6 {
    position: relative;
    background: #ffe100; }
    .swiper-container .swiper-wrapper .swiper6 .swiper6-img {
      position: absolute;
      top: 20px;
      z-index: 5; }
      .swiper-container .swiper-wrapper .swiper6 .swiper6-img img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper6 .swiper6-gird {
      width: 95px;
      height: 200px;
      position: absolute;
      top: 245px;
      left: 60px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper6 .swiper6-gird img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper6 .cont6-img {
      width: 180px;
      height: 500px;
      position: absolute;
      top: 150px;
      left: 15px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper6 .cont6-img img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper6 .swiper6-text {
      width: 145px;
      height: 85px;
      position: absolute;
      top: 143px;
      left: 190px;
      z-index: 10;
      color: white; }
      .swiper-container .swiper-wrapper .swiper6 .swiper6-text h3 {
        font-size: 16px;
        font-weight: 200; }
      .swiper-container .swiper-wrapper .swiper6 .swiper6-text p {
        font-size: 10px; }
    .swiper-container .swiper-wrapper .swiper6 .swiper6-pic {
      width: 195px;
      height: 85px;
      position: absolute;
      top: 240px;
      left: 190px;
      z-index: 10;
      color: white; }
      .swiper-container .swiper-wrapper .swiper6 .swiper6-pic h3 {
        font-size: 16px;
        font-weight: 200;
        color: #a52000; }
      .swiper-container .swiper-wrapper .swiper6 .swiper6-pic p {
        font-size: 12px; }
    .swiper-container .swiper-wrapper .swiper6 .swiper6-line {
      width: 100px;
      height: 0.5px;
      position: absolute;
      top: 233px;
      left: 190px;
      z-index: 11; }
      .swiper-container .swiper-wrapper .swiper6 .swiper6-line img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper6 .swiper6-purpul {
      width: 95px;
      height: 25px;
      position: absolute;
      top: 290px;
      left: 200px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper6 .swiper6-purpul img {
        width: 100%;
        height: 100%; }
    .swiper-container .swiper-wrapper .swiper6 .swiper6-link {
      width: 170px;
      height: 35px;
      position: absolute;
      top: 290px;
      left: 226px;
      z-index: 11; }
      .swiper-container .swiper-wrapper .swiper6 .swiper6-link a {
        font-size: 12px;
        color: white; }
    .swiper-container .swiper-wrapper .swiper6 .swiper6-triangle {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 590px;
      left: 170px;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper6 .swiper6-triangle img {
        width: 100%;
        height: 100%;
        animation: mymove 2s infinite; }
@keyframes mymove {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
    .swiper-container .swiper-wrapper .swiper6 .swiper6-music {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 40px;
      left: 320px;
      z-index: 10;
      border-radius: 20px;
      background: url(../../images/str05.png) no-repeat;
      background-size: 100% 100%;
      animation: mysun  1s infinite; }
@keyframes mysun {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(324deg); }
  100% {
    transform: rotate(360deg); } }
  .swiper-container .swiper-wrapper .swiper7 {
    position: relative; }
    .swiper-container .swiper-wrapper .swiper7 .swiper7-img {
      width: 100%;
      height: 100%; }
    .swiper-container .swiper-wrapper .swiper7 .swiper7-cont {
      width: 335px;
      height: 563px;
      position: absolute;
      top: 88px;
      left: 20px; }
      .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .cont-img img {
        width: 100%;
        height: 100%; }
      .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-title {
        width: 235px;
        height: 88px;
        position: absolute;
        top: 115px;
        left: 50px;
        z-index: 10; }
        .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-title img {
          width: 100%;
          height: 100%; }
      .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-text {
        width: 135px;
        height: 40px;
        position: absolute;
        top: 125px;
        left: 110px;
        z-index: 10; }
        .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-text img {
          width: 100%;
          height: 100%; }
      .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-big {
        width: 167px;
        height: 167px;
        position: absolute;
        top: 190px;
        left: 86px;
        z-index: 10; }
        .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-big img {
          width: 100%;
          height: 100%; }
      .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-small {
        width: 75px;
        height: 75px;
        position: absolute;
        top: 235px;
        left: 132px;
        z-index: 10; }
        .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-small img {
          width: 100%;
          height: 100%; }
      .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-time {
        width: 225px;
        height: 20px;
        position: absolute;
        top: 367px;
        left: 63px;
        z-index: 10;
        background: #f1d36f;
        border-radius: 10px;
        text-align: center;
        line-height: 20px;
        opacity: .8; }
        .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-time p {
          font-size: 10px;
          color: black; }
      .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-shop {
        width: 80px;
        height: 20px;
        position: absolute;
        top: 426px;
        left: 127px;
        z-index: 10;
        background: #ebbd25;
        border-radius: 10px;
        text-align: center;
        line-height: 20px; }
        .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-shop a {
          font-size: 10px;
          color: white;
          display: block; }
      .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-triangle {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 495px;
        left: 153px;
        z-index: 10; }
        .swiper-container .swiper-wrapper .swiper7 .swiper7-cont .swiper7-triangle img {
          width: 100%;
          height: 100%;
          animation: mymove 2s infinite; }
@keyframes mymove {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
    .swiper-container .swiper-wrapper .swiper7 .swiper7-music {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 40px;
      left: 320px;
      z-index: 10;
      border-radius: 20px;
      background: url(../../images/str05.png) no-repeat;
      background-size: 100% 100%;
      animation: mysun  1s infinite; }
@keyframes mysun {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(324deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=wechart.css.map */
